@import './element-ui.scss';
@import './element-menu.scss';

/* 面包屑样式 */
.bread-crumb {
  display: flex;
  height: var(--bread-crumb-height);
  margin-left: 15px;
  margin-top: 4px;
  .el-icon {
    margin-right: 4px;
  }
}
